@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Roboto Slab', sans-serif;
/*	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-image:url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-width: 100%;*/
}

a {}
  a:hover, a:focus {
    color: #999 !important; }

#blogContent {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

#blog {
	height:auto !important;
	padding-bottom:50px !important;
}

#home {
	padding-top:100px !important;
	padding-bottom:50px !important;
	height:auto !important;
}

.heightAuto {
	height:auto;
}

.sections {
	height:auto;
	padding-bottom:50px;
}

#me {
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

#meImage {
	max-height:800px;
}

.borderImage {
	display:block
} 

h1 {
	font-family: 'Oswald', sans-serif;
	font-size:32pt;
	color: #8e001c;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size:24pt;
	color: #424242;
}

#meImage {
	box-shadow: -3px 4px 5px 0px #242424;
}

#socialButtons {
	padding-bottom:50px;
}